<!DOCTYPE html>
<html>
<head>
    <title>CRUD App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>To-Do CRUD App</h1>

    <form method="POST">
        <input type="text" name="content" placeholder="Enter Task" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {% for task in tasks %}
        <li>
            {{ task.content }}

            <a href="/update/{{ task.id }}">Edit</a>

            <a href="/delete/{{ task.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>

</body>
</html>